$primary-border-color: #c7c7c7;

.main-nav {
  border-bottom: 2px solid $primary-border-color;
  height: 50px;
  padding: 7px 30px 7px 30px;

  .main-nav-item {
    padding: 5px;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
    color: $primary-border-color;
    transition-duration: 0.5s;
    font-size: 20px;

    &:hover {
      color: darken($primary-border-color, 40%);
    }

    &:last-child {
      margin-right: 0;
    }

    &.brand {
      cursor: default;
    }
  }
}

.rounded-border {
  border-radius: 3px;
  border: 1px solid $primary-border-color;
}